.App {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 50vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Quran Memo Component */

.App {
  text-align: center;
}

.QuranMemo-App {
  /* Center the div in the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(3px + 2vmin);
  color: #55382e;
  gap: 1rem;
  padding: 1rem;

}

.QuranMemo-Container {
  /* Center the children with margin in left and right*/
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1rem;
  background-color: #f4e1c1;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 80%;
  height: 80%;

}
.input-container {
  margin-bottom: 2rem;
  /* Make the input container a flex container and has the width of the screen width */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  /* Make the input text box in the RHS with beige bgc */
  background-color: beige;
  border: none;
  border: 2px solid #55382e;
  border-radius: 0.5rem;
  font-size: inherit;
  padding: 0.5rem;
  width: 77%;
  text-align: right;
}
.output-container {
  /* center the container  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 1rem;
  background-color: #f4e1c1;

}
 .output-textarea {
  /* Make quran styled dialogue box and style it with sand color and has minimum height of 20 rem and center the box in the screen , the text appear in right hand side and transparent scrollbar, on click border is hidden*/
  background-color: #f4e1c1;
  border: none;
  border-radius: 0.5rem;
  font-size: inherit;
  min-height: 50vh;
  padding: 0.5rem;
  width: 100%;
  align-self: center;
  text-align: right;
  overflow-y: scroll;
  scroll-behavior: auto;
  overflow: hidden;
  outline: none;
}
.QuranMemo-settings {
  /* Make the settings container a flex container and has the width of the screen width and style text boxes and reverse order*/
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  gap: 1rem;
  background-color: #f4e1c1;

}
.button-container {
  /* Make the button container a flex container and has the width of the screen width */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #f4e1c1;
}
.save-button {
  /* Make the save button with small width not full screen width and style it perfectly and center text */
  width: 10rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: inherit;
  cursor: pointer;
  background-color: #55382e;
  align-self: center;
}
.clear-button {
  /* Make the clear button with small width not full screen width and style it perfectly and center text */
  width: 10rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: inherit;
  cursor: pointer;
  background-color: #55382e;
  align-self: center;
}
.QuranMemo-Header {
  /* Make the header with small width not full screen width and style it perfectly and center text with quranic font family */
  font-size: 6vh;
  color: #cbcca1;
  font-weight: bolder;
  font-family: "Scheherazade", serif;
} 
/* Quran Component */
